h3 {
  color: var(--color-text-alpha);
}

.last-messages-container {
  background-color: red;
}

.last-messages-label {
  background-color: var(--color-label);
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.last-messages-label:hover {
  background-color: var(--color-label-hover);
}

.message-sender {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-alpha)
}

.message-title {
  font-style: normal;
  font-size: 14px;
  color: var(--color-text-info);
}

.message-date {
  font-size: 10px;
  color: var(--color-black);
}