.students-photo {
  width: 150px;
  height: 200px;
  background-color: var(--color-text-alpha);
  margin-left: 2vw;
}

.profile-main-info {
  font-size: 11pt;
  h1 {
    font-weight: bolder;
  }
}

.profile-other-info {
  font-size: 11pt;
  h1 {
    font-weight: bolder;
  }
}

@media screen and (max-width: 375px) {
  .profile-main-info {
    font-size: 10pt;
  }
  .profile-other-info {
    font-size: 10pt;
  }
}
